disbursement-service-cheque.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="Disbursement_Service" targetNamespace="http://services.aic11.infosys.tuwien.ac.at/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.aic11.infosys.tuwien.ac.at/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://services.aic11.infosys.tuwien.ac.at/" xmlns:tns="http://services.aic11.infosys.tuwien.ac.at/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="address" type="tns:address"/>
<xs:element name="bank_transfer" type="tns:bankTransfer"/>
<xs:element name="cheque" type="tns:cheque"/>
<xs:element name="customer" type="tns:customer"/>
<xs:element name="disbursement_preference" type="tns:disbursementPreference"/>
<xs:element name="money" type="tns:money"/>
<xs:element name="start_money_transfer_process" type="tns:start_money_transfer_process"/>
<xs:element name="start_money_transfer_processResponse" type="tns:start_money_transfer_processResponse"/>
<xs:complexType name="start_money_transfer_process">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:disbursementPreference"/>
<xs:element minOccurs="0" name="arg1" type="tns:money"/>
<xs:element minOccurs="0" name="arg2" type="tns:customer"/>
</xs:sequence>
</xs:complexType>
<xs:complexType abstract="true" name="disbursementPreference">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="bankTransfer">
<xs:complexContent>
<xs:extension base="tns:disbursementPreference">
<xs:sequence>
<xs:element minOccurs="0" name="bankName" type="xs:string"/>
<xs:element minOccurs="0" name="bic" type="xs:string"/>
<xs:element minOccurs="0" name="iban" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="cheque">
<xs:complexContent>
<xs:extension base="tns:disbursementPreference">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="money">
<xs:sequence>
<xs:element name="amount" type="xs:long"/>
<xs:element minOccurs="0" name="currencyCode" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="customer">
<xs:sequence>
<xs:element minOccurs="0" name="address" type="tns:address"/>
<xs:element name="customerId" type="xs:long"/>
<xs:element minOccurs="0" name="firstName" type="xs:string"/>
<xs:element minOccurs="0" name="lastName" type="xs:string"/>
<xs:element minOccurs="0" name="middleName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="address">
<xs:sequence>
<xs:element minOccurs="0" name="city" type="xs:string"/>
<xs:element minOccurs="0" name="countryCode" type="xs:string"/>
<xs:element minOccurs="0" name="door" type="xs:string"/>
<xs:element minOccurs="0" name="house" type="xs:string"/>
<xs:element minOccurs="0" name="postalCode" type="xs:string"/>
<xs:element minOccurs="0" name="street" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="start_money_transfer_processResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="invalid_parameter">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="invalid_parameter" type="tns:invalid_parameter"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="InvalidParameterException">
    <wsdl:part element="tns:invalid_parameter" name="InvalidParameterException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="start_money_transfer_process">
    <wsdl:part element="tns:start_money_transfer_process" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="start_money_transfer_processResponse">
    <wsdl:part element="tns:start_money_transfer_processResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IDisbursementService">
    <wsdl:operation name="start_money_transfer_process">
      <wsdl:input message="tns:start_money_transfer_process" name="start_money_transfer_process">
    </wsdl:input>
      <wsdl:output message="tns:start_money_transfer_processResponse" name="start_money_transfer_processResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Disbursement_ServiceSoapBinding" type="tns:IDisbursementService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="start_money_transfer_process">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="start_money_transfer_process">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="start_money_transfer_processResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Disbursement_Service">
    <wsdl:port binding="tns:Disbursement_ServiceSoapBinding" name="Disbursement_Service">
      <soap:address location="http://vc.infosys.tuwien.ac.at:8091/cheque"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
